.sidebar{

width:260px;
height:100vh;

background:#1f1309;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:20px 15px;

position:fixed;

left:0;
top:0;

}

.logo{

font-size:34px;

font-weight:bold;

color:#ff8c00;

margin-bottom:30px;

}

.logo span{

color:white;

margin-left:8px;

}

.menu{

display:flex;

flex-direction:column;

gap:10px;

}

.menu-item{

display:flex;

align-items:center;

gap:15px;

padding:15px;

border-radius:12px;

cursor:pointer;

transition:.3s;

font-size:17px;

}

.menu-item:hover{

background:#ff8c00;

}

.active{

background:#ff9800;

}

.logout{

display:flex;

align-items:center;

gap:15px;

padding:15px;

cursor:pointer;

font-size:17px;

border-radius:12px;

}

.logout:hover{

background:#ff8c00;

}